body {
  font: 100%/1.35 helvetica, calibri, sans-serif;
  margin: 0;
  padding: 0;
  min-width: 600px;
}

header {
  background-color: #dfd;
  margin: 0;
  padding: .25em .5em;
}

header h1 {
  margin: 0;
  font-size: 1.5em;
}

.favorites {
  float: right;
  margin: .5em 0 .5em .5em;
  min-width: 200px;
  padding: 0;
  position:relative;
  width: 40%;
  z-index: 1;
}
.favorites > ul {
  border: 1px solid #999;
  border-top: 0;
  border-radius: 0 0 .5em .5em / 0 0 .5em .5em;
  margin-top: 0;
  padding: .5em;
}

.favorites h2 {
  background-color: #cef;
  border: 1px solid #999;
  border-radius: .5em .5em 0 0 / .5em .5em 0 0;
  font-size: 1.25em;
  margin: 0;
  padding: .5em;
}

.options {
  border: 1px solid #999;
  border-radius: .5em/.5em;
  padding: 0 .5em;
}

.options ul {
  padding-left: 0;

}
.options li {
  display: inline-block;
}

.options label {
  margin-right: 1em;
}

.pagecount {
  text-align: center;
  width: 2em;
}

.favorites > ul > li, .results > ul > li {
  padding-left: .5em;
}

.favorites li, .results li {
  list-style-type: none;
}

.favorites ul {
  padding-left: 0;
}

.favorites ul, .results ul {
  padding-left: 0;
  white-space: nowrap;
}

.favorites > ul > li > ul > li, .results > ul > li > ul > li {
  display: inline-block;
  vertical-align: top;
  margin: .25em;
}

.favorites > ul > li > ul > li > ul > li, .results > ul > li > ul > li > ul > li {
  display: inline-block;
  border: 1px solid #999;
  background-color: #fac;
  margin: .25em;
  padding: .1em .25em;
  border-radius: .25em/.25em;
}

.add_fav, .remove_fav {
  border-width: 0;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.add_fav {
  background: url("star.png") no-repeat left;
}

.add_fav:hover {
  background-position: right;
}

.remove_fav {
  background: url("star.png") no-repeat right;
}

.remove_fav:hover {
  background-position: left;
}

footer {
  clear: both;
}