table {
  border: 1px solid #888;
  border-collapse: collapse;
}

tr:nth-child(odd) td {
  background-color: #ddd;
}

tr:nth-child(even) td {
  background-color: #ddf;
}

th, td {
  border: 1px solid #888;
  padding: 0 5px;
  width: 2em;
}

td {
  text-align: right;
}
