html, body {
    height: 100%;
}

.page-header, .jumbotron {
    background-color: #E3EFDE;
    border-radius: 5px;
    color: #252621;
    margin: 1em 0;
    padding: 2em;
}

.page-header h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.btn-default {
    background-color: #79AE65;
    border-color: #79AE65;
    color: #ffffff;
}

.btn-default:hover, .btn-default:active, .btn-default:focus {
    background-color: #A4CB96;
    border-color: #649F86;
    color: #ffffff;
}

.has-error {
    border-color: #E1A6B0;
}

.alert-danger {
    background-color: #F9E8EA;
    border-color: #E1A6B0;
    color: #C0707D;
}

.form-control {
    color: #15241D;
    border-color: #79AE65;
}

footer {
    margin-top: 2em;
    text-align: center;
}

header h2 {
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    min-width: 330px;
}

#validation_message p {
    font-size: 1em;
    line-height: 1.2em;
}

#welcome img {
 /*   background: url('../img/baby_hands.png') top left no-repeat; */
    border-radius: 5px;
    margin-left: 1em;
/*    min-height: 300px;
    padding-left: 170px;*/
}